.title {
  text-align: center;
  width: 100vw;
}

.show_tree_btn {
  padding: 10px;
  min-width: 200px;
  outline: none;
  background-color: aquamarine;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  transition: all ease 0.2s;
}

.error_text {
  color: red;
  font-size: 5rem;
}

.show_tree_btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.warning {
  color: yellow;
}

.wrapper {
  display: flex;
  gap: 10px;
}

#input {
  width: 500px;
  resize: none;
}